*{
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    transition: all 0.7s ease;
    overflow-y: hidden;
}

::-webkit-scrollbar{
    width: 0px;
}
nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #b8e2b100;
    width: 95%;
    padding: 15px 2.5%;
    backdrop-filter: blur(10px);
}
#chat_name{
    font-size: 1.5em;
}


.chat-container {
    max-width: 600px;
    margin: auto;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-image: url('./blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    padding: 8px 16px;
    background-color: #6fc598;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition:all 0.5s ease;
}

button:hover {
    background-color: #63af92;
}



.chat-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    height: 5vh;
    background-color: #f5f5f500;
    width: 96.45%;
    
}

.chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 80vh;
    overflow-y: auto;
    
}
#msg_recieved{
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    float:left;
    margin-bottom: 8px;
    max-width: 65%;;
    border-radius: 36px;
    border-top-left-radius: 10px;
    background: linear-gradient(145deg, #458b67, #84eab5);
    box-shadow:  -20px 20px 38px #8d8d8d,-20px 20px 38px #ffffff;
}
#msg_sent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #c9c7c7;
    border-radius: 8px;
    padding: 16px;
    align-self: flex-end;
    max-width: 65%;
    margin-bottom: 8px;
    border-radius: 36px;
    border-top-right-radius: 10px;
    background: linear-gradient(285deg, #4d9b73, #84eab5);
    box-shadow:  20px 20px 38px #8d8d8d,-20px -20px 38px #ffffff29;
    transition: all 0.5s ease;
}

#msg_time{
    font-size: 12px;
    padding-top: 12px;
    align-self: flex-start;
    color: #0000008e;
    display: none;
    transition: all 0.7s ease;
}
#msg_sent:hover>#msg_time{
    
    display: flex;
    transition: all 0.7s ease;
}
#msg_recieved:hover>#msg_time{
    
    display: flex;
    transition: all 0.7s ease;
}

#message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    height: 40px;
    max-height: 60px;
    min-height: 30px;
    
}
#goBottom{
    background-color: #214231;
    display: none;
    position: fixed;
    bottom:10%;
    padding: 5px;
    background-color: #404f4767;
    border-radius: 50%;
    

}
#send_arrow:hover{
    animation: send 2s infinite;
}

#user_name{
    font-weight: 600;
    word-wrap:break-word;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);

}
#msg_sent>#user_name{
    align-self: end;
}
#msg_received>#user_name{
    align-self: start;
}
#msg_data{
    word-wrap:break-word;
}
#joined{
    background-color: #d2d2d2;
    border: 2px darkgrey solid;
    padding: 3px 20px;
    border-radius: 13px;
    margin-bottom: 8px;
    align-self: center;
    box-shadow:0px -5px 10px 0px #c2c2c2, 0px 8px 10px #c2c2c2;
}

@keyframes send{
    0%{
        transform: translate3d(0px,0px,0px);
    }
    25%{
        transform: translate3d(0px,0px,0px);
    }
    50%{
        transform: translate3d(30px,-30px,0px);
    }
}


  
@media only screen and (max-width:560px){
    .chat-input{
        width: 93vw;
    }
    #go_bottom{
        bottom:7%;
    }
}
